.place__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: grid;
  align-items: start;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (max-width: 770px) {
  .place__title {
    justify-items: start;
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
  }
}