.main {
  width: 100%;
  margin: 56px auto 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (5, 1fr);
  gap: 92px;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-top: 48px;
    gap: 88px;
    }
  }
  
