.main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto 92px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

@media screen and (max-width: 768px) {
  .main {
    margin-bottom: 88px;
    }
  }

@media screen and (max-width: 320px) {
  .main {
    width: 320px;
    max-width: 100%;
    margin-bottom: 64px;
    }
  }
    
