.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  margin-top: 0;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 570px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.02;
    max-width: 260px;
    }
  }
