.cover__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  color: #fff;
  /*margin-bottom: 20.45%;*/
  text-align: center;
  z-index: 2;
  border: 1px red solid;
}

@media screen and (max-width: 570px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.02;
    max-width: 260px;
    }
  }
