.photo-grid__item {
  width: 284px;
}


@media screen and (max-width: 1024px) {
  .photo__grid {
    width: 300px;
  }
} 

@media screen and (max-width: 768px) {
  .photo__grid {
    width: 352px;
  }
} 