.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  margin-top: 0;
  padding-top: 0;
  text-align: start;
  text-decoration: none;
  color: #FFFFFF;
}

@media screen and (max-width: 720px) {
  .footer__copyright {
    line-height: 1;
    text-align: start;
    padding-top: 16px;
  }
} 
