.lead__image {
  width: 100%;
  max-height: 615px;
  margin-top: 64px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    }
  }

@media screen and (max-width: 720px) {
  .lead__image {
    margin-top: 40px;
    }
  }

  @media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
    }
  }