.intro {
  max-width: calc(100/(720/768));
  margin: 0 auto 0 148px;
  padding: 0;
  border: 1px red solid;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
    padding-left: 0;
    }
  }

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 0;
    margin-left: 24px;
    }
  }


  