.place__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  text-align: left;
  opacity: 1;
  transition: opacity 1s easy 0.1;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
