.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  background-size: cover;
  background-position: center;
  height: 100%;
  align-self: stretch;
  transition: background-color 1s linear 0.3s;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);
}

