.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  max-width: 560px;
  padding-bottom: 0;
  color: #fff;
 /* margin-top: 20.45%;*/
  text-align: center;
  z-index: 2;
  border: 1px red solid;
}

@media screen and (max-width: 570px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.06;
    max-width: 250px;
    }
  }