.place {
  max-width: 100%;
  padding: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 460px));
  grid-template-areas:
  "title website"
  "image paragraph";
  gap: 48px 40px;
  align-items: end;
  justify-items: start;
  border: 1px red solid;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1030px) {
  .place {
    max-width: 928px;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 440px));
    gap: 48px 32px;
    margin: 0 48px 80px 48px;
  }
}

@media screen and (max-width: 770px) {
  .place {
    max-width: 720px;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 340px));
    gap: 48px 28px;
    margin: 0 24px 80px 24px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    margin-top: 50px;
    margin-bottom: 0;
    grid-template-columns: 320px;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
  }
}
