.place__url-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  color: #aaa;
  text-align: left;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    line-height: 100%;
    align-self: end;
  }
}

